/* components/ParticlesBackground.module.css */
.particles {
  position: absolute;
  width: var(--width);
  height: var(--height);
  z-index: -1;
  pointer-events: none;
  background: var(--background-colour);
}
