.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);

    background: var(--navbar-background);
}

.tags {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
}

.homeTag {
}