.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height: 500px;
}

.container button {
    width: 100px;
    height: 500px;
    border: none;
    border-radius: var(--border-radius);
}