.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: clamp(300px, 20%, 600px);
    height: 100%;

    background-color: gray;
}