.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--filterbox-width);
    height: 100%;

    background-color: gray;
}