html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  transition: 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

input:hover {
  border: 3px solid black;
}

:root {
  --main: blue;
  --secondary: white;

  --navbar-height: 80px;

  --width: 100vw;
  --height: calc(100dvh - var(--navbar-height));


  --title-size: clamp(36px, 10vw, 120px);
  --small-title-size: clamp(24px, 5vw, 72px);

  --border-radius: 20px;
  --border-colour: gray;

  --button-width: clamp(300px, 50%, 600px);
  --button-height: 100px;

  --small-button-width: clamp(100px, 20%, 200px);
  --small-button-height: 70px;
  --small-button-font: clamp(1.4rem, 2vw, 2.2rem);

  --small-font: clamp(1rem, 2vw, 1.6rem);
  --mini-font: clamp(0.8rem, 2vw, 1rem);

  --background-colour: linear-gradient(to bottom, var(--main), var(--secondary));
  --navbar-background: linear-gradient(to left, var(--main), var(--secondary));

  --line-gap: 20px;
  --navbar-font-size: clamp(1.2rem, 3vw, 1.8rem);

  --filterbox-width: clamp(300px, 20%, 600px);
  --answerbox-width: calc(100% - var(--filterbox-width));

}
