html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  transition: 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

:root {
  --main: lightskyblue;
  --secondary: white;

  --title-size: clamp(36px, 5vw, 72px);
  --small-title-size: clamp(24px, 5vw, 72px);

  --border-radius: 20px;

  --small-button-width: clamp(100px, 20%, 200px);
  --small-button-height: 70px;
  --small-button-font: clamp(1.4rem, 2vw, 2.2rem);

  --small-font: clamp(1rem, 2vw, 1.6rem);
}
